<div class="col-xs-12 col-md-10 col-md-offset-1 main" ng-controller="AdminController">
    <h1 class="page-header">Admin</h1>
    <div class="panel panel-default padded">
        <h2>Users</h2>
        <form>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Username
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Password
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        First Name
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Last Name
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Email
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Role
                    </th>
                    <th>

                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" placeholder="Username"></td>
                        <td><input type="password" placeholder="Password"></td>
                        <td><input type="text" placeholder="First Name"></td>
                        <td><input type="text" placeholder="Last Name"></td>
                        <td><input type="text" placeholder="Email"></td>
                        <td><input type="text" placeholder="Role1, Role2"></td>
                        <td class="text-nowrap">
                            <button class="glyphicon glyphicon-plus table-icon"></button>
                            <button class="glyphicon glyphicon-ok table-icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>alice</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>User</td>
                        <td class="text-nowrap">
                            <button class="glyphicon glyphicon-pencil table-icon"></button>
                            <button class="glyphicon glyphicon-remove table-icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>bob</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>User, Admin</td>
                        <td class="text-nowrap">
                            <button class="glyphicon glyphicon-pencil table-icon"></button>
                            <button class="glyphicon glyphicon-remove table-icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>charlie</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>User</td>
                        <td class="text-nowrap">
                            <button class="glyphicon glyphicon-pencil table-icon"></button>
                            <button class="glyphicon glyphicon-remove table-icon"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <div class="panel panel-default padded">
        <h2>Locations</h2>
        <form>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Location Name
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Lat/Lon
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Webcam URL
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Weather URL
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                        Status
                    </th>
                    <th>

                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input ng-model="locationName" type="text" placeholder="Name"></td>
                        <td><input ng-model="latlon" type="decimal" placeholder="Lat/Lon (e.g. 40, 70)"></td>
                        <td><input ng-model="webcamURL" type="text" placeholder="URL"></td>
                        <td><input ng-model="weatherURL" type="text" placeholder="URL"></td>
                        <td>
                            <select>
                                <option>Open</option>
                                <option>Approved</option>
                                <option>Declined</option>
                            </select>
                        </td>
                        <td class="text-nowrap">
                            <button class="glyphicon glyphicon-plus table-icon"></button>
                            <button class="glyphicon glyphicon-ok table-icon"></button>
                        </td>
                    </tr>

                    <tr>
                        <td>Location 1</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>Open</td>
                        <td class="text-nowrap">
                            <button class="glyphicon glyphicon-pencil table-icon"></button>
                            <button class="glyphicon glyphicon-remove table-icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Location 2</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>Approved</td>
                        <td class="text-nowrap">
                            <button class="glyphicon glyphicon-pencil table-icon"></button>
                            <button class="glyphicon glyphicon-remove table-icon"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>