<div ng-include="'views/worldmap/worldmap.view.html'"></div>

<div class="col-xs-12 col-md-8 col-md-offset-2 panel panel-default padded">
    <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
        vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
        ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor
        mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet
        elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut,
        vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
    <hr>

    <div>
        <h2 >Search Locations</h2>
        <div class="row vertical-align">
            <div class="col-xs-6 col-md-4  col-lg-2">
                <input class="full-width" type="search" placeholder="Search term">
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <button ng-click="showResults=true" class="btn btn-primary btn-block">Search</button>
            </div>
        </div>
        <div ng-show="showResults">
            <hr>
            <h3>Results</h3>
            <form>
                <div class="col-xs-12 col-md-6">
                    <div class="table-responsive tab-content">
                        <table class="table table-striped table-bordered no-margin">
                            <thead>
                            <th>
                                <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                                Locations
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="#/location">Location 1</a></td>
                            </tr>
                            <tr>
                                <td><a href="#/location">Location 2</a></td>
                            </tr>
                            <tr>
                                <td><a href="#/location">Location 3</a></td>
                            </tr>
                            <!--<tr ng-repeat="favorite in userfavorites">-->
                            <!--<td>{{favorite.title}}</td>-->
                            <!--<td>-->
                            <!--<button ng-click="" class="glyphicon glyphicon-star table-icon"></button>-->
                            <!--</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="table-responsive tab-content">
                        <table class="table table-striped table-bordered no-margin">
                            <thead>
                            <th>
                                <span class="glyphicon glyphicon-triangle-bottom sort-icon"></span>
                                Regions
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="#">Region 1</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Region 2</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Region 3</a></td>
                            </tr>
                            <!--<tr ng-repeat="favorite in userfavorites">-->
                            <!--<td>{{favorite.title}}</td>-->
                            <!--<td>-->
                            <!--<button ng-click="" class="glyphicon glyphicon-star table-icon"></button>-->
                            <!--</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>