
<div class="col-xs-12 main">
    <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
        vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
        ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor
        mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet
        elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut,
        vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
    <h1 class="page-header text-center">World Map</h1>
    <img class="img-responsive center-block" src="http://placehold.it/700x400"/>
    <hr>
    <h2 class="text-center">Search</h2>

    <div class="row vertical-align">
        <div class="col-xs-6 col-md-4 col-md-offset-2 col-lg-2 col-lg-offset-4">
            <input class="full-width" type="search" placeholder="Search term">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <button class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</div>