<div class="col-xs-12 col-md-8 col-md-offset-2 main" ng-controller="CreateController as vm">
    <div class="panel panel-default padded">
        <h1 class="page-header">New Location</h1>
        <form class="form-horizontal" name="locationForm">
            <div class="form-group">
                <label for="locationName" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input ng-model="locationName" type="text" class="form-control" placeholder="Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="latlon" class="col-sm-2 control-label">Lat/Lon:</label>
                <div class="col-sm-10">
                    <input ng-model="latlon" type="text" class="form-control" placeholder="(e.g. 40, 70)" required>
                </div>
            </div>
            <div class="form-group">
                <label for="webcamURL" class="col-sm-2 control-label">Webcam URL:</label>
                <div class="col-sm-10">
                    <input ng-model="webcamURL"type="text" class="form-control" placeholder="URL" required>
                </div>
            </div>
            <div class="form-group">
                <label for="weatherURL" class="col-sm-2 control-label">Weather URL:</label>
                <div class="col-sm-10">
                    <input ng-model="weatherURL"type="text" class="form-control" placeholder="URL (Optional)">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="locationForm.$valid && create()" class="btn btn-primary btn-block">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>