<div class="col-xs-12 main" ng-controller="LocationsController as vm">
    <div class="panel panel-default padded">
        <h1 class="page-header">Locations</h1>
        <form>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <th class="text-nowrap">
                        Location Name
                    </th>
                    <th class="text-nowrap">
                        User ID
                    </th>
                    <th class="text-nowrap">
                        Latitude
                    </th>
                    <th class="text-nowrap">
                        Longitude
                    </th>
                    < class="text-nowrap">
                        Webcam URL
                    </th>
                    <th class="text-nowrap">
                        Status
                    </th>
                    <th>

                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input class="form-control" ng-model="vm.locationName" type="text" placeholder="Name"></td>
                        <td><input class="form-control" ng-model="vm.userId" type="text" placeholder="UserId" required></td>
                        <td><input class="form-control" ng-model="vm.lat" type="text" placeholder="Latitude"></td>
                        <td><input class="form-control" ng-model="vm.lon" type="text" placeholder="Longitude"></td>
                        <td><input class="form-control" ng-model="vm.webcamURL" type="url" placeholder="URL"></td>
                        <td>
                            <select class="form-control" ng-model="vm.status">
                                <option>Open</option>
                                <option>Approved</option>
                                <option>Declined</option>
                            </select>
                        </td>
                        <td class="text-nowrap">
                            <button ng-click="vm.addLocation()" class="btn btn-success glyphicon glyphicon-plus table-icon"></button>
                            <button ng-click="vm.updateLocation()" class="btn btn-info glyphicon glyphicon-ok table-icon"></button>
                        </td>
                    </tr>

                    <tr ng-repeat="location in vm.locations">
                        <td><a href="#/location/{{location._id}}">{{location.name}}</a></td>
                        <td>{{location.userId}}</td>
                        <td>{{location.lat}}</td>
                        <td>{{location.lon}}</td>
                        <td><a href="{{location.webcamURL}}" target="blank">{{location.webcamURL}}</a></td>
                        <td>{{location.status}}</td>
                        <td class="text-nowrap">
                            <button ng-click="vm.deleteLocation($index)" class="btn btn-danger glyphicon glyphicon-remove table-icon"></button>
                            <button ng-click="vm.selectLocation($index)" class="btn btn-info glyphicon glyphicon-cog table-icon"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>