<div class="col-xs-12 col-md-8 col-md-offset-2 main" ng-controller="ProfileController as vm">
    <h2 class="text-center white-text">{{currentUser.firstName}} {{currentUser.lastName}}</h2>
    <div class="panel panel-default padded">
      <h1 class="page-header">My Profile</h1>
      <form class="form-horizontal" name="profileForm">
          <div class="form-group">
          <label for="username" class="col-sm-2 control-label">Username:</label>
          <div class="col-sm-10">
            <input ng-model="vm.username" type="text" class="form-control" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">Password:</label>
          <div class="col-sm-10">
            <input ng-model="vm.password"type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="firstname" class="col-sm-2 control-label">First Name:</label>
          <div class="col-sm-10">
            <input ng-model="vm.firstname"type="text" class="form-control" placeholder="First Name">
          </div>
        </div>
         <div class="form-group">
          <label for="lastname" class="col-sm-2 control-label">Last Name:</label>
          <div class="col-sm-10">
            <input ng-model="vm.lastname"type="text" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email:</label>
          <div class="col-sm-10">
            <input ng-model="vm.email"type="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="vm.updateDetails()" class="btn btn-primary btn-block">Update</button>
          </div>
        </div>
      </form>
    </div>
    <div class="panel panel-default padded">
        <h1 class="page-header">My Locations</h1>
        <form>
            <div class="table-responsive tab-content">
                <table class="table table-striped table-bordered no-margin">
                    <thead>
                    <th>
                        Location Name
                    </th>
                    <th>
                        Latitude
                    </th>
                    <th>
                        Longitude
                    </th>
                    <th>
                        Webcam URL
                    </th>
                    <th>
                        Status
                    </th>
                    <th>

                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input class="form-control" ng-model="vm.locationName" type="text" placeholder="Name"></td>
                        <td><input class="form-control" ng-model="vm.lat" type="text" placeholder="Latitude"></td>
                        <td><input class="form-control" ng-model="vm.lon" type="text" placeholder="Longitude"></td>
                        <td><input class="form-control" ng-model="vm.webcamURL" type="url" placeholder="URL"></td>
                        <td>
                            <p>---</p>
                        </td>
                        <td class="text-nowrap">
                            <button ng-click="vm.addLocation()" class="btn btn-success glyphicon glyphicon-plus table-icon"></button>
                            <button ng-click="vm.updateLocation()" class="btn btn-info glyphicon glyphicon-ok table-icon"></button>
                        </td>
                    </tr>
                    <tr ng-repeat="location in vm.userLocations">
                        <td><a href="#/location/{{location._id}}">{{location.name}}</a></td>
                        <td>{{location.lat}}</td>
                        <td>{{location.lon}}</td>
                        <td><a href="{{location.webcamURL}}" target="blank">{{location.webcamURL}}</a></td>
                        <td>{{location.status}}</td>
                        <td class="text-nowrap">
                            <button ng-click="vm.deleteLocation($index)" class="btn btn-danger glyphicon glyphicon-remove table-icon"></button>
                            <button ng-click="vm.selectLocation($index)" class="btn btn-info glyphicon glyphicon-cog table-icon"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="panel panel-default padded">
        <h1 class="page-header">My Favorites</h1>
        <form>
            <div class="table-responsive tab-content">
                <table class="table table-striped table-bordered no-margin">
                    <thead>
                    <th>
                        Location Name
                    </th>
                    <th>
                        Webcam URL
                    </th>
                    <th>

                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="location in vm.userFavorites">
                        <td><a href="#/location/{{location._id}}">{{location.name}}</a></td>
                        <td><a href="{{location.webcamURL}}" target="blank">{{location.webcamURL}}</a></td>
                        <td class="text-nowrap">
                            <button ng-click="" class="btn btn-warning glyphicon glyphicon-star table-icon"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>