body {
	background:
            linear-gradient(
					rgba(0, 77, 102, .4),
					rgba(0, 77, 102, .4)
			),
				/*Select background image*/
			url("../img/spiral.png");
}

.full-width {
	width: 100%;
}

#googleMap {
	width:100%;
	height:400px;
}

.location-icons {
	font-size: 3rem;
}

.no-margin {
	margin: 0;
}

.padded {
	padding: 1rem;
}

.panel {
	margin-top: 1rem;
}

.table-icon {
	font-size: 2rem;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.white-text {
	color: white;
}