.full-width {
	width: 100%;
}

.no-margin {
	margin: 0;
}

.padded {
	padding: 1rem;
}

.panel {
	margin-top: 1rem;
}

.table-icon {
	font-size: 2rem;
}

.vertical-align {
	display: flex;
	align-items: center;
}