<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldsController as vm">
    <h1 class="page-header">Fields : Registration Form</h1>
    <ul class="nav nav-tabs">
        <li ng-class="{'active' : $location.url() == '/forms'}"><a href="#/forms">Forms</a></li>
        <li class="active"><a href="#/fields">Fields</a></li>
    </ul>
    <div class="tab-content">
        <div class="row">
            <form class="form-vertical">
                <div ng-repeat="field in vm.fields" class="form-group col-xs-12">
                    <div ng-switch="field.type" class="col-xs-8">
                        <div ng-switch-when="TEXT">
                            <div class="input-group">
                                <label>{{field.label}}</label>
                                <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                            </div>
                        </div>
                        <div ng-switch-when="OPTIONS">
                            <div class="input-group">
                                <label>{{field.label}}</label>
                                <select class="form-control">
                                    <option ng-repeat="option in field.options">{{option.label}}</option>
                                </select>
                            </div>
                        </div>
                        <div ng-switch-when="TEXTAREA">
                            <div class="input-group">
                                <label>{{field.label}}</label>
                                <textarea class="form-control" placeholder="{{field.placeholder}}"></textarea>
                            </div>
                        </div>
                        <div ng-switch-when="CHECKBOXES">
                            <div class="input-group">
                                <label>{{field.label}}</label>
                                <div class="checkbox">
                                    <div ng-repeat="option in field.options">
                                        <label>
                                            <input type="checkbox" value="{{option.value}}">{{option.label}}
                                        </label>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="RADIOS">
                            <div class="input-group">
                                <label>{{field.label}}</label>
                                <div ng-repeat="option in field.options" class="radio">
                                    <label>
                                        <input type="radio" name="{{option.label}}" value="{{option.value}}" checked>{{option.label}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-default>
                            <div class="input-group">
                                <label>{{field.label}}</label>
                                <input type="date" placeholder="{{field.placeholder}}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 center">
                        <button ng-click="vm.editField(field)"
                                data-toggle="modal"
                                data-target="#{{field.type}}Modal"
                                class="glyphicon glyphicon-pencil table-icon">
                        </button>
                        <button class="glyphicon glyphicon-plus table-icon"></button>
                        <button ng-click="vm.removeField(field)" class="glyphicon glyphicon-remove table-icon"></button>
                        <button ng-click="vm.moveField(field)" class="glyphicon glyphicon-menu-hamburger table-icon"></button>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <hr>
                    <div class="col-xs-8">
                        <label for="add" class="control-label">Add New Field:</label>
                        <select ng-model="fieldType" class="form-control" id="add">
                            <option>Single Line Text Field</option>
                            <option>Multi Line Text Field</option>
                            <option>Date Field</option>
                            <option>Dropdown Field</option>
                            <option>Checkboxes Field</option>
                            <option>Radio Buttons Field</option>
                        </select>
                    </div>
                    <div class="col-xs-4 center">
                        <button ng-click="vm.addField(fieldType)" class="glyphicon glyphicon-plus table-icon"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <div id="TEXTModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Single Line Field</h3>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="vm.fieldEdit.label">

                    <label for="placeholder" class="control-label">Placeholder</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="placeholder" ng-model="vm.fieldEdit.placeholder">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="TEXTAREAModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Multiple Line Field</h3>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="vm.fieldEdit.label">

                    <label for="placeholder" class="control-label">Placeholder</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="placeholder" ng-model="vm.fieldEdit.placeholder">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="EMAILModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Email Field</h3>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="vm.fieldEdit.label">

                    <label for="placeholder" class="control-label">Placeholder</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="placeholder" ng-model="vm.fieldEdit.placeholder">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="DATEModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Date Field</h3>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="vm.fieldEdit.label">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="OPTIONSModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Dropdown Field</h3>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="vm.fieldEdit.label">

                    <label for="options" class="control-label">Options</label>
                    <textarea name="{{field.label}}" class="form-control" id="options" ng-model="vm.fieldEdit.option"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="CHECKBOXESModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Checkboxes Field</h3>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="editingField.label">

                    <label for="options" class="control-label">Options</label>
                    <textarea name="{{field.label}}" class="form-control" id="options" ng-model="editingField.optionDescription"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="RADIOSModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Radio Buttons Field</h3>
                </div>
                <div class="modal-body">
                    <label for="labelInput" class="control-label">Label</label>
                    <input type="text" name="{{field.label}}" class="form-control" id="labelInput" ng-model="editingField.label">

                    <label for="options" class="control-label">Options</label>
                    <textarea name="{{field.label}}" class="form-control" id="options" ng-model="editingField.optionDescription"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" ng-click="saveEditingField()">OK</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
