<div class="col-xs-12 col-md-8 col-md-offset-2 main panel panel-default" ng-controller="LocationController as vm">
    <h1 class="page-header text-center">..Location Name..</h1>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <img class="img-responsive center-block" src="http://placehold.it/600x400"/>
        </div>
        <div class="col-xs-12 col-md-4">
            <img class="img-responsive center-block" src="http://placehold.it/300x400"/>
        </div>
    </div>
    <hr>
    <div class="col-xs-12 text-center location-icons">
        <button ng-click="" class="glyphicon glyphicon-star"></button>
        <button ng-click="" class="glyphicon glyphicon-flag"></button>
        <button ng-click="" class="glyphicon glyphicon-user"></button>
    </div>
    <div class="col-xs-12">
        <h2>Comments</h2>
        <div class="panel panel-default padded">
            <p>Username: Steve</p>
            <p>This is a comment from Steve. He's usually pretty cool but sometimes he gets a bit irritable when he's hungry.</p>
        </div>
        <div class="panel panel-default padded">
            <p>Username: Joe</p>
            <p>This is a comment from Joe. He's usually pretty lame but sometimes he gets kinda cool when he's hungry.</p>
        </div>
        <div class="panel panel-default padded">
            <p>Username: Alan</p>
            <p>This is a comment from Alan. He's usually pretty energetic but sometimes he gets a bit faded when he's hungry.</p>
        </div>
    </div>
</div>